*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  background-color: #fff;
}
.wrapper {
  width: 80vw;
  margin: 0 auto;
}
.carousel-wrapper {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
}
header {
  background-color: rgb(240, 240, 240);
  padding: 10px 0;
}
#nav-menu {
  width: 30%;
}
.navbar-brand {
  font-size: 28px;
}
.navbar-brand img {
  width: 100px;
}
.nav-link {
  font-size: 18px;
  display: inline-block;
  transition: transform 0.3s ease;
}
.nav-link:hover {
  transform: translateY(-5px);
}
.nav-item {
  text-align: center;
}
.carousel-section {
  width: 100vw;
  padding: 10px 0;
}
#roof-carousel {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
}

.carousel-item {
  position: relative;
}
.caption h1 {
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  filter: drop-shadow(2px 2px 5px #000);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.caption h1::before {
  content: "";
  width: 120px;
  height: 5px;
  background-color: #ff4f17;
  border-radius: 5px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.section-title {
  width: 100%;
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  position: relative;
  font-weight: 900;
  margin: 5px 0 70px 0;
}
.section-title::before {
  content: "";
  width: 120px;
  height: 5px;
  background-color: #ff4f17;
  border-radius: 5px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.subtitle {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
.gallery-card {
  filter: drop-shadow(0 0 2px #000);
}
.gallery-card:hover {
  cursor: pointer;
}
.services-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.services-card {
  margin: 20px 40px;
}
#contact {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
.contact-row {
  width: 50%;
  margin: 30px auto;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}
.upper-section {
  width: 100%;
  background-color: #1e1f21;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.left {
  text-align: left;
  width: 260px;
}
.left h1 {
  border-bottom: 1px solid #777;
}
.middle {
  width: 260px;
}
.middle h2 {
  border-bottom: 1px solid #777;
  width: auto;
}
.middle ul {
  list-style: none;
  text-align: left;
  padding: 0;
}
.middle ul li a {
  text-decoration: none;
  color: #fff;
}
.right {
  width: 580px;
}
.right form {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-row {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
}
.form-row input {
  width: 49%;
  height: 50px;
  padding: 5px;
  background-color: #111;
  border: none;
}
.form-row textarea {
  width: 100%;
  height: 180px;
  background-color: #111;
  border: none;
  resize: none;
}
.form-row button {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #0077e4;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid #005cb3;
}
.lower-section {
  width: 100%;
  background-color: #0077e4;
  color: #fff;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
/*media*/
@media screen and (max-width: 1024px) {
  .caption h1 {
    font-size: 36px;
  }
  .upper-section {
    flex-wrap: wrap;
  }
  .contact-row {
    flex-direction: column;
  }
  .tile {
    display: flex;
    justify-content: space-between;
  }
  .form-row input {
    height: 30px;
  }
  .form-row textarea {
    height: 120px;
  }
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 20px;
    margin: 0;
  }
  .navbar-brand img {
    width: 40px;
  }
  .nav-link {
    font-size: 16;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    padding: 6px 2px;
  }
  .carousel-section {
    padding: 10px 0;
  }
  .section-title {
    font-size: 38px;
    margin: 5px 0;
  }
  .section-title::before {
    width: 100px;
    height: 4px;
  }
  .subtitle {
    font-size: 18px;
  }
  footer .second-section {
    font-size: 16px;
  }
  .upper-section {
    flex-direction: column;
    align-items: center;
  }
  .tile {
    flex-direction: column;
  }
  .contact-row {
    font-size: 14px;
    margin: 5px auto;
  }
  .right {
    display: none;
  }
  .lower-section {
    text-align: center;
  }
}

@media screen and (max-width: 972px) {
  .lower-section {
    flex-direction: column;
    align-items: center;
  }
}
