[data-galleryModal] {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	user-select: none;
	animation: fadeIn 0.3s linear;
}
[data-galleryModal].hidden {
	display: none;
	animation: fadeOut 5s;
}
[data-modalShadow] {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(4px);
	z-index: -1;
}
[data-modalContent] {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #fff;
	border-radius: 10px 0 10px 10px;
	padding-bottom: 30px;
}
[data-modalDescription] {
	width: 100%;
	text-align: center;
	font-size: 22px;
	padding: 10px 0px;
	font-weight: medium;
}
[data-modalSlide] {
	max-width: 1280px;
	max-height: 720px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}
/*img tag*/
[data-currentSlide] {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
[data-closeModal] {
	position: absolute;
	top: -40px;
	right: 0px;
	background-color: #fff;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
}
[data-slideButton] {
	width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	opacity: 0.3;
	transition: opacity 0.3s;
	cursor: pointer;
	position: absolute;
}
[data-slideButton]:hover {
	opacity: 0.8;
}
[data-previousSlide] {
	left: 0;
	top: 0;
}
[data-nextSlide] {
	right: 0;
	top: 0;
}
[data-galleryImage] {
	transition: transform 0.3s;
}
[data-galleryImage]:hover {
	transform: scale(1.05);
}
.fade-out {
	animation: fadeOut 0.3s linear both;
}
.slide-fadeOut {
	animation: fadeOut 0.2s linear both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
